
.main {
  overflow: hidden;
}

.section.banner.banner_section {
  margin: 0 auto;
  padding: 2rem 0 2rem;
}


.container.banner_column {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: grid;
  align-items: center;
  row-gap: 2rem;
}


@media only screen and (min-width: 48rem) {
  .container.banner_column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 64rem) {
  .container.banner_column {
    grid-template-columns: 1fr max-content;
    column-gap: 2rem;
  }
}


.banner_image {
  display: block;
  max-width: 25rem;
  height: auto;
  object-fit: cover;
  justify-self: center;
}

@media only screen and (min-width: 48rem) {
  .banner_image {
    order: 1;
    max-width: 28rem;
  }
}

@media only screen and (min-width: 64rem) {
  .banner_image {
    max-width: 33rem;
  }
}


.banner_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
}


.heading_xl {
  font-family: inherit;
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  color: #fff;


}

.paragraph {
  font-family: inherit;
  text-wrap: balance;
  color: #b9bcc1; 
}


.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
 
}


.btn_inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.btn_darken {
  padding: 0.75rem 2rem;
  color: var(--color-white-100);
  background-color: var(--color-black-200);
  box-shadow: var(--shadow-medium);
  transition: background-color 0.3s, box-shadow 0.3s;
  background: #3586ff;
}




@media (max-width: 800px) {
  .paragraph {
    text-align: center;
  }
  .heading_xl{
    text-align: center;

  }
  .btn{
    margin-left:100px ;
    justify-content: center;
    text-align: center;
  }
}
